.wrap {
    margin: 10px auto;
    width: 400px;
    display: flex;
    flex-direction: column;
    background-color: rgb(106, 43, 161);
    border-radius: 20px;
    border: solid 1px;
  }
  .inp {
    margin: 10px auto;
    width: 200px;
    height: 30px;
    border-radius: 20px;
  }
  